{% extends "../base.html" %}
{% block content %}


{% include 'accounting/quick_access_link.html' %}

<div class="container mt-4">
    
    <div class="row">
       <h3 class="my-4">Ledger: {{ account.name }}</h3>
        <div class="table-responsive">

            <table class="table table-bordered table-striped table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th class="text-end">Debit</th>
                        <th class="text-end">Credit</th>
                        <th class="text-end">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in ledger_rows %}
                    <tr>
                        <td>{{ row.date }}</td>
                        <td>{{ row.description }}</td>
                        <td class="text-end">{{ row.debit|default_if_none:"0"|floatformat:2 }}</td>
                        <td class="text-end">{{ row.credit|default_if_none:"0"|floatformat:2 }}</td>
                        <td class="text-end">{{ row.balance|floatformat:2 }}</td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="5" class="text-center">No transactions</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
