
{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'lab_tests/quick_access_link.html' %}


<div class="container mt-4">
   <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">
            Lab Test:{% if object %}Edit{% else %}Create{% endif %} {{ model_verbose_name }}
        </h4>
    </div>

    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row g-3">

                {% for field in form %}

                    {% if field.name == "description" %}
                        <!-- FULL WIDTH FIELD -->
                        <div class="col-12">
                    {% else %}
                        <!-- DEFAULT 3-COLUMN FIELD -->
                        <div class="col-md-4">
                    {% endif %}

                        <div class="mb-2">
                            {{ field.label_tag }}
                            {{ field }}

                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}

                            {% for error in field.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>

                    </div>
                {% endfor %}

            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-success">
                    {% if object %}Update{% else %}Save{% endif %}
                </button>
                <a href="{{ cancel_url }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>


        <div class="col-12 my-4">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center p-2"> lab_test_catelogue_code</th>
                        <th>Category</th>
                        <th>Test name</th>
                        <th>Price</th>                       
                        <th class="text-center p-2">Description</th>
                        <th class="text-center p-2">Created at</th>                       
                        <th class="text-center p-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in page_obj %}
                        <tr>
                             <td>{{ data.lab_test_catelogue_code }}</td>
                            <td>{{data.category}}</td>
                            <td class="text-center p-1">{{ data.name }}</td>                           
                            <td>{{data.price}}</td>                        
                            <td class="text-center p-1">{{ data.description }}</td>                            
                            <td class="text-center p-2" style="white-space: nowrap;">{{data.created_at}}</td>
                            <td>
                                <a href="{% url 'lab_tests:labtest_catelogue_edit' data.id %}">Update</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No  available.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1{% if request.GET.days %}&days={{ request.GET.days }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.days %}&days={{ request.GET.days }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.days %}&days={{ request.GET.days }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.days %}&days={{ request.GET.days }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>

</div>
{% endblock %}
