{% extends 'visitor_portal_base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <form method="get" class="my-2" novalidate,>
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-md-2">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                    {% if field.errors %}
                        <div class="text-danger small mt-1">
                            {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            
        </div>

        <div class="d-flex justify-content-between mt-4">                    
            <button type="submit" class="btn btn-primary">Apply filter</button>
            
        </div>
</form>

    <div class="col-12 table-responsive">

        <h2>OPD Invoice List</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#Invoice ID</th>
                    <th>Patient</th>
                    <th>Total Amount</th>
                    <th>Total Paid</th>
                    <th>Remaining</th>
                    <th>Status</th>               
                    <th>Created</th>  
                    <th>Download invoice</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in page_obj%}
                <tr>
                    <td>{{ invoice.invoice_id }}</td>
                    <td>{{ invoice.patient.name }}/{{ invoice.patient.patient_id }}</td>
                    <td>{{ invoice.total_amount }}</td>
                    <td>{{ invoice.total_paid }}</td>
                    <td>{{ invoice.remaining_amount }}</td>
                    <td>
                        {% if invoice.status == 'Paid' %}
                            <span class="badge bg-success">Paid</span>
                        {% elif invoice.status == 'Partially Paid' %}
                            <span class="badge bg-warning text-dark">Partial</span>
                        {% else %}
                            <span class="badge bg-danger">Unpaid</span>
                        {% endif %}
                    </td>
                
                    <td>{{ invoice.created_at|date:"Y-m-d H:i" }}</td>
      
                    <td> <a href="{% url 'visitors:download_invoice' invoice.id %}" class="btn btn-sm btn-success">Download invoices</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center">No invoices found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
