{% extends "base.html" %}
{% block content %}

{% include 'referrals/quick_access_link.html' %}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
	<div class="d-flex justify-content-between">
                <div><h5 class="mb-0">{{ title }}</h5></div>   
                <div><a href="{% url 'core:service_tax_policy_list' %}" class="btn btn-smbtn-outline-success text-white">Available Policy</a></div>         
            </div>
        </div>

        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <div class="row">
                    {% for field in form %}
                        <div class="col-md-6 mb-3">
                            <label class="form-label fw-semibold">{{ field.label }}</label>
                            {{ field }}
                            <div class="text-danger small">{{ field.errors }}</div>
                        </div>
                    {% endfor %}
                </div>

                <button class="btn btn-success px-4">Save</button>
                <a href="{% url 'core:service_tax_policy_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>

    </div>
</div>
{% endblock %}
